.wdpv_vote_up {
	width: 18px;
	height: 26px;
   	background: url("../img/up.png") no-repeat scroll 0 7px;
	float: left;
	cursor: pointer;
}
.wdpv_vote_up.whitearrow {
   	background: url("../img/whitearrow/up.png") no-repeat scroll 0 7px;
} 
.wdpv_vote_up.plusminus {
   	background: url("../img/plusminus/up.png") no-repeat scroll 0 7px;
} 
.wdpv_vote_up.arrows {
   	background: url("../img/arrows/up.png") no-repeat scroll 0 7px;
}
.wdpv_vote_up.qa {
	width: 40px;
   	background: url("../img/qa/up.png") no-repeat scroll 0 7px;
}

.wdpv_vote_up.wdpv_disabled {
   	background: url("../img/up_disabled.png") no-repeat scroll 0 7px;
	cursor: default;
}
.wdpv_vote_up.wdpv_disabled.whitearrow {
   	background: url("../img/whitearrow/up_disabled.png") no-repeat scroll 0 7px;
}
.wdpv_vote_up.wdpv_disabled.plusminus {
   	background: url("../img/plusminus/up_disabled.png") no-repeat scroll 0 7px;
}
.wdpv_vote_up.wdpv_disabled.arrows {
   	background: url("../img/arrows/up_disabled.png") no-repeat scroll 0 7px;
}
.wdpv_vote_up.wdpv_disabled.qa {
   	background: url("../img/qa/up_disabled.png") no-repeat scroll 0 7px;
}

.wdpv_vote_down {
	width: 18px;
	height: 26px;
   	background: url("../img/down.png") no-repeat scroll 0 7px;
	float: left;
	cursor: pointer;
}
.wdpv_vote_down.whitearrow {
   	background: url("../img/whitearrow/down.png") no-repeat scroll 0 7px;
} 
.wdpv_vote_down.plusminus {
   	background: url("../img/plusminus/down.png") no-repeat scroll 0 7px;
} 
.wdpv_vote_down.arrows {
   	background: url("../img/arrows/down.png") no-repeat scroll 0 7px;
}
.wdpv_vote_down.qa {
	width: 40px;
   	background: url("../img/qa/down.png") no-repeat scroll 0 7px;
}

.wdpv_vote_down.wdpv_disabled {
   	background: url("../img/down_disabled.png") no-repeat scroll 0 7px;
	cursor: default;
}
.wdpv_vote_down.wdpv_disabled.whitearrow {
   	background: url("../img/whitearrow/down_disabled.png") no-repeat scroll 0 7px;
} 
.wdpv_vote_down.wdpv_disabled.plusminus {
   	background: url("../img/plusminus/down_disabled.png") no-repeat scroll 0 7px;
} 
.wdpv_vote_down.wdpv_disabled.arrows {
   	background: url("../img/arrows/down_disabled.png") no-repeat scroll 0 7px;
}
.wdpv_vote_down.wdpv_disabled.qa {
   	background: url("../img/qa/down_disabled.png") no-repeat scroll 0 7px;
}

.wdpv_vote_result {
    float: left;
    font-size: 24px;
    padding: 2px 5px;
}
.wdpv_waiting {
	width: 16px;
	height: 16px;
	background: url(../img/loading.gif) top left no-repeat;
	float: left;
	cursor: pointer;
}
.wdpv_login {
	background-color: #FEF1B5;
	border: 1px solid #FEE5AC;
	margin: 10px 0px;
	padding: 10px;
}

.wdpv_clear {
	clear: left;
}

.wdpv_dev_stars {
	height: 23px;
	width: 121px;
	background-image: url(../img/dev-stars.png);
	background-repeat: no-repeat;
}

.wdpv_5_offset {
	background-position: left -22px;
}
.wdpv_10_offset {
	background-position: left -44px;
}
.wdpv_15_offset {
	background-position: left -66px;
}
.wdpv_20_offset {
	background-position: left -88px;
}
.wdpv_25_offset {
	background-position: left -110px;
}
.wdpv_30_offset {
	background-position: left -132px;
}
.wdpv_35_offset {
	background-position: left -154px;
}
.wdpv_40_offset {
	background-position: left -176px;
}
.wdpv_45_offset {
	background-position: left -198px;
}
.wdpv_50_offset {
	background-position: left -220px;
}
.wdpv_rating_result {
	display: none;
}
