@font-face {
	font-family: 'wdpv-icomoon';
	src:url('icomoon.eot?i2k1h5');
	src:url('icomoon.eot?#iefixi2k1h5') format('embedded-opentype'),
		url('icomoon.woff?i2k1h5') format('woff'),
		url('icomoon.ttf?i2k1h5') format('truetype'),
		url('icomoon.svg?i2k1h5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wdpv-icon-"], [class*=" wdpv-icon-"] {
	font-family: 'wdpv-icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wdpv_vote_up.icomoon,
.wdpv_vote_down.icomoon {
	font-size: 1.2rem;
}

.wdpv_vote_up.icomoon:before {
	content: "\e600";
	color:#76A676;
}
.wdpv_vote_down.icomoon:before {
	content: "\e601";
	color:#C83939;
}
.wdpv_vote_up.icomoon.wdpv_disabled:before {
	content: "\e600";
	color:#8C8C8C;
}
.wdpv_vote_down.icomoon.wdpv_disabled:before {
	content: "\e601";
	color:#8C8C8C;
}

.wdpv_vote_up.icomoon:before,
.wdpv_vote_down.icomoon:before {
	font-family: 'wdpv-icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.wdpv-icon-thumbs-up:before {
	content: "\e600";
	color:#76A676;
}
.wdpv-icon-thumbs-up_disabled:before,
.wdpv-icon-thumbs-down_disabled:before {
	content: "\e600";
	color:#8C8C8C;
}
.wdpv-icon-thumbs-down:before {
	content: "\e601";
	color:#C83939;
}

.wdpv-icon-thumbs-down_disabled:before,
.wdpv-icon-thumbs-down:before {
	margin-left:0.7rem;
}

.wdpv_vote_result {
    font-size: 1.2rem;
}